[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pygame = "*"
numpy = "*"
tensorflow = "*"
keras = "*"
keras-rl = "*"
pyautogui = "*"
"python3-xlib" = "*"
keyboard = "*"

[requires]
python_version = "3.5"
